html, body {
  width: 100%;
  height:100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,'Source Sans Pro', '微軟正黑體', sans-serif;
  background-color: #011627;
}

a {
  font-family: "Helvetica Neue",Helvetica,Arial,'Source Sans Pro', '微軟正黑體', sans-serif;
  color: #fdfffc;
}

*:link, *:visited, *:hover, *:active, *:focus {
  -webkit-transition:all ease-in 0.5s;
  transition:all ease-in 0.5s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px double #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.active {
  color: #2ec4b6;
  cursor: default;
}

.hor-ver-align-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-align-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-align-flex {
  display: flex;
  align-items: center;
}

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-align {
  display: flex;
  justify-content:center;
}

.form-style {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  background-color: transparent; 
  background-image: none;
  border: 1px double #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-group label {
  font-size: 16px;
}

.form-button-group div {
  text-align: center;
}

.btn-style {
  width: 100px;  
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
}

.content-box {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  background-image: url(/images/bg-taiwan-01.jpg);
  background-repeat: no-repeat;
}

.content-page {
  width: 100%;
  height:100%;
  background-color:  rgba(253, 255, 252, 0.8);
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

/* Navigation */

#nav .icon-bar {
  background-color: #fff;
}

.nav {
  text-align: center;
}

.navbar, .collapse {
   border:none!important;
} 

.navbar-bg {
  background-color: #011627;
}

.navbar {
  border-radius: 0px;
}

/* Login & Signup Page */

#login button:hover, #signup button:hover {
  color: #e71d36;
  border: 1px solid #e71d36;
  font-weight: bold;
}

#login button:focus, #signup button:focus {
  color: #fdfffc;
}

#signup label, #login label {
  color: #fdfffc;
}

.message {
  display: block;
  text-align: center;
  color: red;
  padding: 10px 0;
}

/* Statistic Page */

#statistic {
  width: 100%;
  height:100%;
}

#chart {
  text-align: center;
}

.statistic-data {
  padding-left: 50px;
  padding-right: 50px;
}

/* List Page & Opinion Page */

.filter-box {
  max-width: 1200px;
  height: 20%;
  padding: 30px 50px;
  margin: 0 auto;
}

.filter-item {
  margin:0 2%;
}

.opinion-content {
  max-width: 100%;
  height: 75%;  
  padding: 20px 80px;
  margin: 0 auto;
  text-align: center;
}

.pagination-box {
  height: 5%;  
}

.pagination-nav {
  height: 100%;
  text-align: center;  
}

.pagination-fix {
  margin: 0;
}

/* Setup Page */

#setup nav {
  margin-bottom: 0;
}

#setup-fb-crawlerList table, th, td {
  color: #011627;
  border-color: #011627 !important;
  border-bottom-width: 1px !important;
  font-size: 16px;
}

#setup-fb-crawlerList .pagination li a {
  background-color: transparent;
  color: #011627;
  border: none;
  font-size: 16px;
}

.setup-fb {
  width: 100%;
  max-width: 100%;
  height: calc(100% - 50px);
}

.setup-fb-form {
  padding: 0 20px;
}

.token-bg {
  height: 100%;
  background-color: #fdfffc;
}

.crawler-bg {
  position: relative;
  top: -50px;
  height: calc(100% + 50px);
  background-color: #ff9f1c;

}

.btn-setup-token {
  width: 100%;
  margin-top: 10px;
}

.btn-style-crawlerList {
  width: 100px;  
  background-color: transparent;
  border: 1px solid #011627;
  color: #011627;
  font-size: 14px;
}

.btn-style-crawlerList:hover {
  color: #e71d36;
  border: 1px solid #e71d36;
  font-weight: bold;
}

.btn-style-crawlerList-selected {
  color: #e71d36;
  border: 1px solid #e71d36;
}

.btn-style-stopCrawl {
  color: #e71d36;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.btn-style-restartCrawl {
  color: #05668d;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.setup-pagination-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  text-align: center;
}

/* TGOS Page */

.map-content {
  width: 100%;
  height: 100%;
}

.map-content-bg{
  padding:30px 0;
  height:100%; 
  overflow-x:hidden; 
  overflow-y:auto; 
  background-color: rgba(253, 255, 252, 0.9);
}

.map-list {
  margin:0 auto;
  width:90%;
}

.map {
 width: 100%;
 height: 100%; 
 border: 1px solid #C0C0C0;
}

#styledModal {
  background: #FFF;
  width: 50%;
  text-align: center;
  padding: 1.5em;
  margin: 1em auto;
  border: 0;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

#styledModal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* RWD Fix */

@media (max-width: 983px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}