<section id="list" class="content-page container-fluid">
	<div class="row">
		<div class="filter-box">
			<div class="row">
				<div class="col-md-6">
					<p class="input-group">
						<span class="input-group-addon">起始日期</span>
						<input type="text" class="form-control" uib-datepicker-popup ng-model="list.dt1.dt" is-open="list.dt1.choice.opened" datepicker-options="list.dt1.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
						<span class="input-group-btn">
				        	<button type="button" class="btn btn-default" ng-click="list.dt1.open()"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
					</p>
				</div>
				<div class="col-md-6">				
					<p class="input-group">
						<span class="input-group-addon">結束日期</span>
						<input type="text" class="form-control" uib-datepicker-popup ng-model="list.dt2.dt" ng-change="list.check(list.dt1.dt,list.dt2.dt)" is-open="list.dt2.choice.opened" datepicker-options="list.dt2.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
						<span class="input-group-btn">
			        		<button type="button" class="btn btn-default" ng-click="list.dt2.open()"><i class="glyphicon glyphicon-calendar"></i></button>
			        	</span>
					</p>
				</div>
			</div>
			<div class="row" style="text-align: center;">
				<div class="col-md-12 checkbox">				
					<label class="filter-item"><input type="checkbox" ng-model="list.state.earthquack" ng-checked="list.state_all">地震</label>
					<label class="filter-item"><input type="checkbox" ng-model="list.state.typhoon" ng-checked="list.state_all">颱風</label>
					<label class="filter-item"><input type="checkbox" ng-model="list.state.dengue" ng-checked="list.state_all">登革熱</label>
					<label class="filter-item"><input type="checkbox" ng-model="list.state.winter_disaster" ng-checked="list.state_all">寒害</label>
					<label class="filter-item"><input type="checkbox"  ng-model="list.state_all" ng-change="list.cancel()">全選</label>
					<button type="button" class="btn btn-primary" ng-click="list.getArticlelist(1)">條件篩選</button>				
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class=".col-xs-12 .col-sm-12 .col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>標題</th> 
							<th>災害時間</th> 
							<th>災害描述</th>
							<th></th> 
			            </tr> 
					</thead>
					<tbody>
						<tr class="animate-repeat" ng-model="list.items" ng-repeat="item in list.items">
							<td scope="row">{{(list.currentPage-1)*7 + $index+1}}</td>
							<td ng-if="item.title==null">文章來源 Facebook</td> 
							<td ng-if="item.title!=null">{{item.title| limitTo : 20 : 0 }}</td> 
							<td>{{item.created_time | date:'yyyy-MM-dd HH:mm:ss'}}</td> 
							<td>{{item.content | limitTo : 28 : 0 }}</td>
							<td><button class="btn btn-default" type="button" ng-click="list.overview(item)">詳細內容</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pagination-box">
			<nav class="pagination-nav">
				<uib-pagination  total-items="list.totalItems" max-size="list.maxSize" ng-model="list.currentPage" ng-change="$scope.$apply()" ng-click="list.getArticlelist(list.currentPage)" 
				class="pagination-sm pagination-fix" force-ellipses="true" ></uib-pagination>
			</nav>
		</div>		
	</div>
</section>