<section id="login" class="vertical-align-flex" style="height: 100%; width: 100%;">
	<div class="container">
		<div class="row horizontal-align">
			<div class="col-md-6">
				<form name="auth.loginForm" class="form-horizontal" ng-submit="auth.login()">
					<div class="form-group">					
						<label class="col-sm-offset-1 col-sm-2 control-label">帳號</label>
						<div class="col-sm-8">			      
					      <input class="form-style" ng-model='auth.username' required></input>
					    </div>					
					</div>
					<div class="form-group">
						<label class="col-sm-offset-1 col-sm-2 control-label">密碼</label>
						<div class="col-sm-8">
							<input type="password" class="form-style" ng-minlength="8" ng-model='auth.password' required></input>
						</div>					
					</div>
					<label class="message" ng-show="auth.error" ng-bind="auth.message"></label>
					<div class="form-group form-button-group">
						<div>
							<button type="submit" class="btn btn-style" ng-disabled="auth.loginForm.$invalid">登入</button>
						</div>
					</div>
				</form>
			</div>			
		</div>
	</div>
</section>


