<script src="scripts/TGOS_total.js" ></script>
<section id="map" class="content-page container-fluid no-padding-margin">
	<section id="map-content" class="map-content">
		<div class="col-sm-4 map-content-bg">
			<table id="article" class="map-list">
			</table>
		</div>
		<div class="col-sm-8 no-padding-margin" style="height:100%;">
			<div id="TGMap" class="map"></div>
		</div>
	</section>
</section>