<section id="opinion" class="content-page container-fluid">
  <div class="filter-box">
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <span class="input-group-addon">起始日期</span>
          <input type="text" class="form-control" uib-datepicker-popup ng-model="opinion.dt1.dt" ng-change="opinion.check(opinion.dt1.dt,opinion.dt2.dt)" is-open="opinion.dt1.choice.opened" datepicker-options="opinion.dt1.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opinion.dt1.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="input-group">
          <span class="input-group-addon">結束日期</span>
          <input type="text" class="form-control" uib-datepicker-popup ng-model="opinion.dt2.dt" ng-change="opinion.check(opinion.dt1.dt,opinion.dt2.dt)" is-open="opinion.dt2.choice.opened" datepicker-options="opinion.dt2.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="opinion.dt2.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-md-12 checkbox">
        <label class="filter-item"><input type="checkbox" ng-model="opinion.state.earthquack" ng-checked="opinion.state_all">地震</label>
        <label class="filter-item"><input type="checkbox" ng-model="opinion.state.typhoon" ng-checked="opinion.state_all">颱風</label>
        <label class="filter-item"><input type="checkbox" ng-model="opinion.state.dengue" ng-checked="opinion.state_all">登革熱</label>
        <label class="filter-item"><input type="checkbox" ng-model="opinion.state.winter_disaster" ng-checked="opinion.state_all">寒害</label>
        <label class="filter-item"><input type="checkbox" ng-model="opinion.state_all" ng-change="opinion.fal()">全選</label>
        <button type="button" class="btn btn-primary" ng-model="opinion" ng-click="opinion.report(opinion.dt2.dt)">觀看輿論走向</button>
      </div>
    </div>
  </div>
  <div class="opinion-content">
    <h4 ng-show="opinion.show" style="padding-top:1%;">與論走勢資訊</h4>
    <div id="chart" class="svg"></div>
    <h4 ng-show="opinion.show" style="padding-top:1%;">正負面評價</h4>
    <uib-progress ng-show="opinion.show">
      <uib-bar ng-repeat="bar in opinion.stacked" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></uib-bar>
    </uib-progress>
    <h4 ng-show="opinion.no_data" style="padding-top:1%;">無統計資料</h4>
  </div>  
</section>