<section id="setup" class="container-fluid no-padding-margin" style="height: 100%;background-color: #ff9f1c;">
	<div class="row no-padding-margin">
		<div class="col-sm-5 no-padding-margin">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
		  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
		  			<a class="navbar-brand" href="">設定</a>
		  		</div>
		  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  		<ul class="nav navbar-nav">
			  			<li><a href="">Facebook</a></li>
			  		</ul>
			  	</div>
			</nav>
		</div>		
	</div>
	<section id="setup-fb" class="setup-fb container-fluid no-padding-margin">
			<div class="row no-padding-margin" style="height: 100%;">
				<div class="col-sm-5 token-bg vertical-align-flex">
					<div>
						<div class="form-group setup-fb-form">
				  			<label>目前使用的 Access Token</label>
				  			<input type="text" class="form-control" ng-model="setup.currentToken" readonly>
				  		</div>
				  		<div class="form-group setup-fb-form">
				  			<label>Access Token 期限</label>
				  			<input type="text" class="form-control" ng-model="setup.tokenDeadline" readonly>
				  		</div>
				  		<div class="form-group setup-fb-form">
				  			<button type="submit" class="btn btn-default btn-setup-token" ng-click="setup.fbLogin()" 
							ng-class="{true:'btn-success', false:'btn-danger'}[setup.tokenUpload]">提供 Access Token {{setup.btnTokenUpload}}</button>
				  		</div>
				  		<div class="form-group setup-fb-form" style="margin-top: 40px;">
				  			<label>新增社團或粉絲專頁至爬蟲列表</label>
				  			<input type="text" class="form-control" ng-model="setup.addPageGroup" ng-change="setup.checkFbLink()" placeholder="{{setup.fbPlaceholder}}">
				  		</div>
				  		<div class="form-group setup-fb-form">
				  			<div ng-hide="setup.groupPanel" class="panel panel-default">
				  				<div class="panel-heading">{{setup.checkType}}</div>
								<div class="panel-body">
								    <p>名稱：{{setup.checkResult.name}}</p>
								  	<p>Facebook ID: {{setup.checkResult.id}}</p>
								  	<div ng-show="setup.multipleChoice" class="panel-button-box">
								  		<button class="btn btn-default" ng-click="setup.previousGroup()" ng-disabled="setup.firstGroup"></button>
									  	<button class="btn btn-default" ng-click="setup.nextGroup()" ng-disabled="setup.lastGroup"></button>
								  	</div>
								</div>
				  			</div>
				  			<button class="btn btn-default btn-setup-token" ng-class="{true:'btn-success', false:'btn-danger'}[setup.uploadStatus]" 
							ng-click="setup.addToCrawlerList()" ng-disabled="setup.notFbLink" ng-bind="setup.btnUpload || '新增'"></button>
				  		</div>
					</div>
				</div>
				<div id="setup-fb-crawlerList" class="col-sm-7 crawler-bg">
					<div style="padding-top:9px;">
						<div class="btn-group" role="group" style="">
							<button class="btn btn-style-crawlerList" ng-class="{true:'btn-style-crawlerList-selected'}[setup.atPageList]" 
					  		ng-click="setup.changeToPageList()">粉絲專頁</button>
					  		<button class="btn btn-style-crawlerList" ng-class="{false:'btn-style-crawlerList-selected'}[setup.atPageList]" 
					  		ng-click="setup.changeToGroupList()">社團</button>
						</div>
					</div>
					<div style="padding:30px;">
						<table class="table">
				  			<thead> 		  				
							  	<tr> 
							  		<th>#</th> 
							  		<th>名稱</th> 
							  		<th>狀態</th> 
							  		<th>最後更新時間</th>
							  		<th></th> 
							  	</tr> 
							</thead>
							<tbody> 
							  	<tr class="animate-repeat" ng-repeat="item in setup.items | startFrom:(setup.currentPage-1)*setup.pageSize 
							  	| limitTo:setup.pageSize"> 
							  		<th scope="row">{{item.id}}</th> 
							  		<td>{{item.name}}</td> 
							  		<td>{{item.status}}</td> 
							  		<td>{{item.updatedTime}}</td>
							  		<td class="setup-table-btn">
							  			<button class="btn-style-stopCrawl" ng-click="setup.stopCrawl(item.facebookId)">停止爬文</button>
							  			<button class="btn-style-restartCrawl" ng-click="setup.restartCrawl(item.facebookId)">繼續爬文</button>
							  		</td> 
							  	</tr>
							</tbody>
				  		</table>
				  		<nav class="setup-pagination-nav">
				  			<uib-pagination  total-items="setup.totalItems" ng-model="setup.currentPage" 
							   class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="setup.pageSize"></uib-pagination>
				  		</nav>
					</div>
				</div>
			</div>
	</section>
</section>