<section id="signup" class="vertical-align-flex" style="height: 100%; width: 100%;">	
	<div class="container">
		<div class="row horizontal-align">
			<div class="col-md-6">
				<form name="auth.signupForm" class="form-horizontal" ng-submit="auth.register()">
					<div class="form-group">
						<label for="account" class="col-sm-2 control-label">帳號</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-style" ng-model="auth.username" required>
					    </div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">密碼</label>
					    <div class="col-sm-10">
					      <input type="password" name="password" class="form-style" ng-model="auth.password" ng-minlength="8" 
					      ng-change="auth.checkConfirmPassword()" placeholder="最少 8 位英數字" required>
					    </div>
					</div>
					<label class="message" ng-show="auth.signupForm.password.$error.minlength">密碼長度不足</label>
					<div class="form-group">
						<label for="confirm_password" class="col-sm-2 control-label">確認密碼</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-style" ng-model="auth.confirmPassword" 
					      ng-change="auth.checkConfirmPassword()" placeholder="請再次輸入密碼" required>
					    </div>
					</div>
					<label class="message" ng-bind="auth.message"></label>
					<div class="form-group form-button-group">
						<div>
							<button type="submit" class="btn btn-style" ng-disabled="auth.signupForm.$invalid">註冊</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>	
</section>
