<section id="statistic" class="content-page container-fluid">
  <div class="col-md-7 vertical-align-flex" style="height:100%;">
    <div id="chart"></div>
  </div>
  <div class="col-md-5 vertical-align-flex"" style="height:100%;">
    <div class="">
      <div class="statistic-data">
        <h2>災害統計</h2>
        <table class="table margin-auto">
          <thead> 
            <tr> 
              <th>災害類別</th>
              <th>文章篇數</th> 
            </tr> 
          </thead>
          <tbody> 
            <tr class="animate-repeat" ng-model="statistic.donuts" ng-repeat="donut in statistic.donuts">
              <td>{{ donut[0] }}</td> 
              <td>{{ donut[1] }}</td>
            </tr>
          </tbody>
        </table>
        <h2>區域災害統計</h2>
        <h4 ng-if="statistic.kind!=''">災害類別：{{ statistic.kind }}</h4>
        <table class="table margin-auto">
          <thead> 
            <tr> 
              <th>災害類別</th>
              <th>文章篇數</th> 
            </tr> 
          </thead>
          <tbody> 
            <tr class="animate-repeat" ng-model="statistic.items" ng-repeat="item in statistic.items">
              <td ng-if="item.location!='無法辨識'">{{ item.location }}</td> 
              <td ng-if="item.location!='無法辨識'">{{ item.num }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>